<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	
	<!-- 加载数据文件 -->
	<bean id="init" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" scope="singleton">
		<property name="locations">
			<list>
				<value>classpath*:init.properties</value>
				<value>classpath*:mina-server.properties</value>
			</list>
		</property>
	</bean>
	
	
	<!-- trs 数据信息  -->
	<bean id="trs" class="com.common.base.dao.core.TRSInfo" scope="prototype" >
		<constructor-arg name="host" value="${trs.host}" />
		<constructor-arg name="port" value="${trs.port}" />
		<constructor-arg name="name" value="${trs.name}" />
		<constructor-arg name="passwd" value="${trs.passwd}" />
	</bean>
	
	<!-- trs aop实现 切入service 层 自动开启，关闭连接 -->
	<aop:config>
		<aop:aspect id="Connection" ref="trs">
			<aop:pointcut id="allServiceMethod" expression="execution(* com.neu.service.*.*.*(..))"/>
			<aop:after method="close" pointcut-ref="allServiceMethod"/>
		</aop:aspect>
	</aop:config>
	
	<bean id="DocSourceAppConf" class="com.neusoft.txnservice.common.DocSourceAppConf" scope="singleton" init-method="getInstance"/>
	
</beans>
